#!/bin/bash
# Copyright 2020 Wazo Communication inc.
# SPDX-License-Identifier: GPL-3.0+


case "$1" in
    build)
        ;;

    package)
	install -Dm 0755 -o root -g root wazo-enterprise-migration "${pkgdir}/usr/bin/wazo-enterprise-migration"
        ;;

    install)
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
